{% assign portfolio = site.data.data.portfolio %}
{% if portfolio %}
<section class="section portfolio-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-terminal fa-stack-1x fa-inverse"></i>
    </span>
    {{ portfolio.title }}
  </h2>

  {% if portfolio.intro %}
  <div class="intro">
      <p>{{ portfolio.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for portfolio in portfolio.assignments %}
    <div class="item">

      <span class="portfolio-title">
        <a href="{{ portfolio.link }}">{{ portfolio.title }}</a>
      </span>

      {% if portfolio.tagline %}
      - <span class="portfolio-tagline">{{ portfolio.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
